<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<div th:if="${errorMessage}" class="alert alert-danger" role="alert" >
    <p th:text="${errorMessage}"></p>
</div>

    <div class="container">
        <h1>Login Page</h1>
        <form th:action="@{/login}" th:object="${loginForm}" method="post" >
            <div class="form-group">
                <label for="userEmail">Email:</label>
                <input type="email" class="form-control" id="userEmail" th:field="*{userEmail}" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" th:field="*{userPass}" placeholder="Enter password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            
            <div class="form-group mt-3">
                <a href="forgot" class="mr-3">Forgot password?</a>
                <a href="signup" class="ml-3">Create account</a>
            </div>
        </form>
        
            <p class="fw-bold text-center text-danger" th:text="${msg} "></p>
        
        
        
    </div>
</body>
</html>
